/* Todos los elementos HTML usarán la fuente "Open Sans", sans-serif */

* {
    font-family: "Open Sans", sans-serif;
}

/* El elemento body sin margen y sin relleno */

body {
    margin: 0;
    padding: 0;
}

/* El elemento header tendrá una imagen de fondo */

header {
    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    
   
    display: flex;
    flex-direction: column;

    padding-left: 5%;
    padding-right: 5%;

}

#title {
    margin-top: 15%;
}

#subtitle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 2%;
}

#containerImgHeader {
    display: flex;
    flex-direction: row;
}

.imgHeader{
    margin: 5px;
}

main {
    margin: 5%;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.imgsection {
    background-color: white;
    padding: 2%;
    margin-top: 2% !important;
    margin-bottom: 2% !important;
    box-shadow: 0 1px 6px rgb(0 0 0 / 12%), 0 1px 4px rgb(0 0 0 / 24%);
}